<p>listado-producto works!</p>
<div class="container m-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>listado de producto</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto" routerLinkActive="active">nuevo</button>
                    <table class="table table-striped mt-2">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td >Coca Cola</td>
                            <td>Bebida</td>
                            <td>Soledad</td>
                            <td>3000</td>
                            <td>
                                <i class="fa-solid fa-trash"></i>
                                <i class="fa-solid fa-pen-to-square"></i>
                            </td>
                          </tr>
                          <tr>
                            <td >bimbo</td>
                            <td>pan</td>
                            <td>Soledad</td>
                            <td>4000</td>
                            <td>
                                <i class="fa-solid fa-trash"></i>
                                <i class="fa-solid fa-pen-to-square"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>